.btn-custom {
    background-color: #222226 !important; /* Aturan bootstrap */
    color: white;
}

.btn-custom:hover{
    background-color: blue !important;
    color: white;
}

.mdb-btn-custom {
    background-color: #222226; 
    color: white;
    width: 400px;
}

.mdb-btn-custom:hover{
    background-color: #00c851 !important;
    color: white;
}

.accordion-item {
    margin-bottom: 15px; /* Memberikan jarak antar accordion item */
}

/* pagination */
.custom-pagination .page-link {
    background-color: #173655; /* tombol */
    color: #222226; /
}

.custom-pagination .page-link:hover {
    background-color: #e0e0e0; /* Warna saat hover (opsional) */
}

.custom-pagination .active .page-link {
    background-color: #173655; /* Warna tombol aktif */
    color: white; /* Warna tulisan aktif */
}

.custom-pagination .page-item.disabled .page-link {
    background-color: #f8f9fa; /* Warna tombol disable */
    color: #6c757d; /* Warna tulisan disable */
}

/* checkout */

.mb-negative-20 {
    margin-bottom: -20px;
}


/* detail users */

/* CSS untuk merapikan teks di sebelah kiri */
.copy {
    text-align: left; /* Menyelaraskan teks ke kiri */
    margin-left: 0; 
    padding-left: 0; 
    margin-top: 70px;
    flex: 1;
    padding-right: 20px;
}

.copy h5, 
.copy p {
    margin-left: 0; 
    padding-left: 15px; 
}

.support {
    line-height: 1.6; 
    padding-left: 15px; 
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: italic;
}

.cart-content {
    height: 100%;
    max-height: 500px; 
    overflow-y: auto; /* Menggulung jika konten melebihi tinggi */
}


.custom-border {
   
    padding-left: 20px;
}

/* Menambahkan jarak antar elemen agar tidak saling menumpuk */
.cart-content .list-group-item {
    margin-bottom: 10px;
}

.row.d-flex {
    display: flex;
    align-items: flex-start;
}

.custom-background {
    background-color: #222226;
    padding: 40px 0;
    height: 370px;
}

.custom-background .text-dark {
    color: #f8f9fa; /* Ubah warna teks jadi lebih terang */
}

.custom-background h5 {
    color: #ffffff; /* Ubah warna judul jadi putih */
}

.custom-background .badge-course {
    bottom: 10px; 
    left: 10px;
    padding: 5px 10px;
    color: white;
}

.custom-background .bg-primary, 
.custom-background .bg-danger {
    color: white; 
}

.paragraf{
    margin-top: 30px;
    color: #f8f9fa;
    font-size: 16px;
}

.kursus{
    margin-top: 40px;
}

.details{
    display: flex;
    align-items:
    center; margin-bottom: 10px;
}

.dsk{
    margin-top: -300px;
    
}

@media only screen and (max-width: 1024px) {
    .main-content {
        padding: 20px; 
    }

    .copy {
        padding-right: 10px; 
    }

    .custom-background {
        padding: 20px; 
    }

    .support {
        margin-top: 30px; 
    }

    .custom-border {
        padding-left: 10px; 
        margin-top: 20px; 
    }

    .details {
        margin-bottom: 5px; /* Reduce space between details */
    }

    .dsk {
        margin-top: -330px; /* Adjust position to fit on smaller screens */
        
    } 
}

.submission-table {
    border: 1px solid rgb(226, 226, 226); /* Border luar tabel */
}

.submission-table th.upl {
    border-bottom: 1px solid rgb(226, 226, 226); /* Garis bawah untuk header */
    border-right: 1px solid rgb(226, 226, 226); 
    width: 30%; 
    background-color: #f8f9fa; /* Warna latar belakang header */
    color: #343a40; /* Warna teks header */
    text-align: left; 
    padding: 8px; 
}

.submission-table td {
    border-bottom: 1px solid rgb(226, 226, 226); /* Garis bawah untuk cell */
    padding: 8px; 
    color: #495057; /* Warna teks cell */
}

.submission-table td a {
    color: black; /* Warna tautan */
    text-decoration: none; 
}

.submission-table td a:hover {
    text-decoration: underline; 
}

#add {
    margin-left: 40px;
    width: 200px; 
}


/* css iPad screens */
@media (max-width: 768px) {
    .breadcrumb-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .review-table th, .review-table td {
        font-size: 14px;
        padding: 8px;
    }

    .review-table th {
        white-space: nowrap;
    }

    
    .modal-dialog-centered {
        max-width: 90%;
        margin: auto;
    }

  
    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    .review-table {
        overflow-x: auto;
        display: block;
    }
}

@media (max-width: 820px) {
    .breadcrumb-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .review-table th, .review-table td {
        font-size: 14px;
        padding: 8px;
    }

    .review-table th {
        white-space: nowrap;
    }


    .modal-dialog-centered {
        max-width: 90%;
        margin: auto;
    }


    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    .review-table {
        overflow-x: auto;
        display: block;
    }
}

/* popup setelah login */
.style-popup {
    width: 48%;
    border: 1px solid #d1cfcf;
    padding: 15px;
    border-radius: 8px;
}



/* assessment user */
@media (max-width: 768px) {
  
    .user-assignment-title, .user-name {
        font-size: 1.5rem; /* text size */
        text-align: center;
    }

   
    .user-table-container {
        overflow-x: auto;
    }
    
    table {
        width: 100%;
        table-layout: auto;
    }

    
    .table th, .table td {
        word-wrap: break-word;
        white-space: normal;
    }

   
    .user-button-container .btn {
        width: 100%; 
        max-width: 300px; 
    }

    
    .user-table-container {
        padding: 0 10px;
    }

   
    .table th, .table td {
        font-size: 0.9rem;
    }
}


@media (min-width: 769px) {
    .user-assignment-title, .user-name {
        font-size: 2rem;
    }

    .user-button-container .btn {
        width: 25%; /* Limit button width */
    }
}